{:itonami.blueprint/id "cloud-itonami-1073"
 :itonami.blueprint/name "Cocoa, Chocolate and Sugar Confectionery Manufacturing Coordination"
 :itonami.blueprint/isic-rev5 "1073"
 :itonami.blueprint/domain :food/cocoa-chocolate-confectionery-manufacturing
 :itonami.blueprint/license "AGPL-3.0-or-later"
 :itonami.blueprint/social-impact [:food-security :food-safety :fair-labor]
 :itonami.blueprint/governor :chocops-governor
 :itonami.blueprint/robotics true
 :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger :cae]
 :itonami.blueprint/optional-technologies [:optimization :telemetry]
 :itonami.blueprint/status :public-oss
 :itonami.blueprint/maturity :blueprint}
