{:kotoba.app/id "cloud.itonami.isic-1073", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibi3itrbslzkjjoljobbfg6xplyf63vblmy62izuacfdcyu2ai6qu", :kotoba.app/embed-url "ipfs://bafkreibi3itrbslzkjjoljobbfg6xplyf63vblmy62izuacfdcyu2ai6qu", :published {:archive "https://kotobase.net/ipfs/bafkreibi3itrbslzkjjoljobbfg6xplyf63vblmy62izuacfdcyu2ai6qu", :size 72900, :put-status 201, :get-status 200, :at "2026-08-15T13:48:29.551Z"}}
